<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UFO - 간편한 중고 경매를 찾다</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/home.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/detail.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
</head>
<body>
<header id="headLine">
    <div class="logoDiv">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
        </div>
        <div class="search">
            <label>
                <div>
                    <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/ff0000/search--v1.png" alt="search--v1"/>
                </div>
                <input id="searchContent" type="text" placeholder="검색">
            </label>
        </div>
        <div class="info_menu" >
            <a th:if="${session.user != null}" class="nickname" href="">
                <span>닉네임</span>
            </a>
            <span th:if="${session.user != null}"> 님</span>
            <a th:if="${session.user == null}" th:href="@{/user/login}">
                <img th:src="@{/images/account.png}" alt="">
            </a>
            <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
            <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
            <a th:href="@{/chat}">
                <img th:src="@{/images/chat.png}" alt="">
            </a>
        </div>
    </div>
    <div class="categoryDiv">
        <ul>
            <li>의류</li>
            <li>악세사리</li>
            <li>IT</li>
            <li>취미</li>
            <li>가전용품</li>
            <li>반려동물</li>
        </ul>
    </div>
</header>
<div id="mainDiv">
    <div class="goodsCard">
        <div class="goodsPhotoArea">
            <img class="goodsPhoto" th:src="@{/images/macbook.jpeg}">
        </div>
        <div class="goodsDetail">
            <div class="goodsName">
                맥북 에어 입니다.
            </div>
            <div class="firstPrice">
                3,000,000 원
            </div>
            <div class="timeRemaining">
                2일 12:20:39
            </div>
            <div class="goodsPro">
                <div class="goodsBox">
                    <div class="goodsBoxFr">상품 분류   </div>
                    <div class="goodsBoxSe">가전</div>
                </div>
                <div class="goodsBox">
                    <div class="goodsBoxFr">상품 상태   </div>
                    <div class="goodsBoxSe">중고</div>
                </div>
                <div class="goodsBox">
                    <div class="goodsBoxFr">배송비    </div>
                    <div class="goodsBoxSe">무료</div>
                </div>
                <div class="goodsBox">
                    <div class="goodsBoxFr">즉시 구매가   </div>
                    <div class="goodsBoxSe">25,000,000 원</div>
                </div>
                <div class="goodsPick">
                    <button id="pickButton" class="pick">
                        찜하기
                        <div class="pickCount">24</div>
                    </button>
                    <button id="buyNowBtn" class="pick">
                        즉시구매
                    </button>
                    <button id="=auctionBtn" class="pick">
                        입찰하기
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="auction">
        <div class="nowPrice">
            <span>현재 입찰가</span> <div class="auctionPrice">3,000,000 </div>원
        </div>
        <div class="hpPrice">
            <span id="hopeAuction">희망 입찰가</span> <input type="text" class="hopeText" placeholder="금액을 입력해주세요" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

        </div>
    </div>
    <div class="goodsInfo">
        <div class="goodsInfoTitle">
            상품정보
        </div>
        <div class="goodsInfoText">
            <p>
                실제로 사용한 맥북 에어 모델입니다.
                사용감은 좀 있지만 제가 사용한 점에서
                비싼 가격에 올렸습니다.
                에누리 X , 쿨거 환영
            </p>
            <div class="goodsInfoPic">
                <img class="goodsInfoPicture" th:src="@{/images/macbook.jpeg}">
                <img class="goodsInfoPicture" th:src="@{/images/macbook.jpeg}">
                <img class="goodsInfoPicture" th:src="@{/images/macbook.jpeg}">
                <img class="goodsInfoPicture" th:src="@{/images/macbook.jpeg}">
            </div>

        </div>
    </div>
    <div class="sellerInfo">
        <div class="sellerTitle">
            판매자 정보
        </div>
        <div class="sellerCard">
            <div class="sellerIntro">
                <div class="seller">
                    <a>재혁최고</a>
                </div>
                <div class="sellerPic">
                    <img class="sellerPicture" th:src="@{/images/hyuk.jpeg}">
                </div>
                <div class="sellerFol">
                   팔로워 수 <p class="sellerFollow">24</p>
                </div>
                <div class="sellerReviewCo">
                    후기 수 <p class="sellerReview">234</p>
                </div>
                <div class="sellerThingCo">
                    판매중인 상품 <p class="sellerDuct">14</p>
                </div>
            </div>
            <div class="sellerPro">
                <div class="sellerProduct">
                    <img class="sellThing" th:src="@{/images/airmax.jpeg}">
                    <img class="sellThing" th:src="@{/images/baseball.jpeg}">
                    <img class="sellThing" th:src="@{/images/chair.jpeg}">
                    <img class="sellThing" th:src="@{/images/cup.jpeg}">
                </div>
                <a href="#">상품 더보기 👉</a>
            </div>
            <div class="sellerReview">
                <div class="reviewTitle">
                    판매자후기
                </div>
                <div class="reviewSpace">
                        <span>
                            민범짱
                        </span>
                        <p>
                            아주 친절하신 분입니다. 믿고 거래하셔도 됩니다!
                        </p>
                </div>
                <div class="reviewSpace">
                            <span>
                                석민킹왕짱
                            </span>
                        <p>
                            덕분에 좋은 물건 아주 좋게 구했습니다!
                            믿고 거래하세요
                        </p>
                </div>
                <div class="reviewSpace">
                            <span>
                                석민킹왕짱
                            </span>
                    <p>
                        덕분에 좋은 물건 아주 좋게 구했습니다!
                        믿고 거래하세요
                    </p>
                </div>
                <div class="reviewSpace">
                            <span>
                                석민킹왕짱
                            </span>
                    <p>
                        덕분에 좋은 물건 아주 좋게 구했습니다!
                        믿고 거래하세요
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer">
    <div class="sub_logo">
        <img th:src="@{/images/favicon.png}" alt="">
        <span>개발자들</span>
    </div>
    <div class="members">
        <div class="hyuk">
            <div>
                <div class="face">
                    <img th:src="@{/images/hyuk.jpeg}" alt="">
                </div>
                <span> 김 재혁 </span>
            </div>
            <div class="etc">
                <span> 깃 허브 </span>
                <a href="https://github.com/HYUK0802" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 개발 블로그 </span>
                <a href="https://velog.io/@tig05205" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
        <div class="bum">
            <div>
                <div class="face">
                    <img th:src="@{/images/bum.jpg}" alt="">
                </div>
                <span> 김 민범 </span>
            </div>
            <div class="etc">
                <span> 개발 블로그 </span>
                <a href="https://github.com/ks0020" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 깃 허브 </span>
                <a href="https://velog.io/@tig05205" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
        <div class="min">
            <div>
                <div class="face">
                    <img th:src="@{/images/min.jpg}" alt="">
                </div>
                <span> 이 석민 </span>
            </div>
            <div class="etc">
                <span> 깃 허브 </span>
                <a href="https://github.com/ks0020" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 개발 블로그 </span>
                <a href="https://velog.io/@tig05205" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>