<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UFO - 간편한 중고 경매를 찾다</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/mypage.css}">
    <script defer th:src="@{/scripts/base.js}"></script>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
</head>
<body>
<div id="cover"></div>
<header id="headLine">
    <div class="logoDiv">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
        </div>
        <div class="search">
            <label>
                <div>
                    <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/ff0000/search--v1.png" alt="search--v1"/>
                </div>
                <input id="searchContent" type="text" placeholder="검색">
            </label>
        </div>
        <div class="info_menu" >
            <a th:if="${session.user != null}" class="nickname" href="">
                <span>닉네임</span>
            </a>
            <span th:if="${session.user != null}"> 님</span>
            <a th:if="${session.user == null}" th:href="@{/user/login}">
                <img th:src="@{/images/account.png}" alt="">
            </a>
            <a th:if="${session.user != null}" class="logout" href="#">로그아웃</a>
            <a th:if="${session.user != null}" th:href="@{/mypage/modify}">마이페이지</a>
            <a th:href="@{/chat}">
                <img th:src="@{/images/chat.png}" alt="">
            </a>
        </div>
    </div>
    <div class="categoryDiv">
        <ul>
            <li>의류</li>
            <li>악세사리</li>
            <li>IT</li>
            <li>취미</li>
            <li>가전용품</li>
            <li>반려동물</li>
        </ul>
    </div>
</header>
<div id="mainDiv">
    <div class="profile">
        <div class="profileAndInformation">
            <div class="profile">
                <label>
                    <input class="modify_btn img_btn" type="button">
                    <img th:src="@{/images/account.png}" alt="">
                </label>
                <div class="img_modify modify_page">
                    프로필 사진 수정
                    수정수정수정
                    프로필 사진 수정
                    수정수정수정프로필 사진 수정
                    수정수정수정프로필 사진 수정
                    수정수정수정프로필 사진 수정
                    수정수정수정프로필 사진 수정
                    수정수정수정프로필 사진 수정
                    수정수정수정

                </div>
                <div>
                    닉네임
                    <!--                    <span th:text="${session.user['nickname']}"></span>-->
                </div>
            </div>
            <div class="info_div">
                <div>
                    <span>이름 : </span>
                    <!--                    <span th:text="${session.user['name']}"></span>-->
                    <span> 관리자 </span>
                </div>
                <div>
                    <span>닉네임 : </span>
                    <!--                    <span th:text="${session.user['nickname']}"></span>-->
                    <span> 어드민 </span>
                </div>
                <div>
                    <span>연락처 : </span>
                    <!--                    <span th:text="${session.user['contact']}"></span>  -->
                    <span> 010-1234-5678 </span>
                </div>
                <div>
                    <span>이메일 : </span>
                    <!--                    <span th:text="${session.user['email']}"></span>-->
                    <span> admin1234@sample.com </span>
                </div>
                <div>
                    <span>주소 : </span>
                    <!--                    <span th:text="${session.user['adress']}"></span>-->
                    <span> 대한민국 어느도 어느시 저런동 이런번지 </span>
                </div>
                <div class="modify_btn">
                    <label>
                        <input class="modify_btn info_btn" type="button">
                        <span>개인 정보 수정</span>
                    </label>
                    <div class="info_modify modify_page">
                        개인 정보 수정
                        modify_page
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mypage_menu">
        <ul>
            <li class="my_prize">
                <a th:href="@{/prize}">
                    내 상품
                    <span>0</span>
                </a>
            </li>
            <li class="review">
                <a th:href="@{/review}">
                    내 상품 후기
                    <span>0</span>
                </a>
            </li>
            <li class="bookmark">
                <a th:href="@{/bookmark}">
                    찜 목록
                    <span>0</span>
                </a>
            </li>
            <li class="following">
                <a th:href="@{/following}">
                    팔로잉
                    <span>0</span>
                </a>
            </li>
            <li class="follower">
                <a th:href="@{/follower}">
                    팔로워
                    <span>0</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="board">
        찜 목록 게시판
    </div>
</div>
<footer id="footer">
    <div class="members">
        <div class="sub_logo">
            <img th:src="@{/images/favicon.png}" alt="">
            <span>개발자들</span>
        </div>
        <div class="hyuk">
            <div>
                <span> 김 재혁 </span>
                <div class="face">
                    <img th:src="@{/images/hyuk.jpeg}" alt="">
                </div>
            </div>
            <div class="etc">
                <span> 깃 허브 </span>
                <a href="https://github.com/HYUK0802" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 개발 블로그 </span>
                <a href="https://velog.io/@tig05205" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
        <div class="bum">
            <div>
                <span> 김 민범 </span>
                <div class="face">
                    <img th:src="@{/images/bum.jpg}" alt="">
                </div>
            </div>
            <div class="etc">
                <span> 깃 허브 </span>
                <a href="https://github.com/ks0020" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 개발 블로그 </span>
                <a href="https://velog.io/@tig05205" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
        <div class="min">
            <div>
                <span> 이 석민 </span>
                <div class="face">
                    <img th:src="@{/images/min.jpg}" alt="">
                </div>
            </div>
            <div class="etc">
                <span> 깃 허브 </span>
                <a href="https://github.com/ks0020" target="_blank">
                    <img th:src="@{/images/github.png}" alt="">
                </a>
                <span> 개발 블로그 </span>
                <a href="https://velog.io/@ks0020" target="_blank">
                    <img th:src="@{/images/velog.png}" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
