._object-btn {
    width: 9rem;
    height: 2.625rem;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0.25rem rgba(255, 0, 0, 0.5);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1rem;

    align-items: center;
    display: flex;
    justify-content: space-around;
}

._object-btn > input {
    display: none;
}

.modify_page {
    top: 50%;
    left: 50%;
    width: 25rem;
    max-height: calc(100vh - 2rem);
    background-color: #fafafa;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.0625rem #21212145;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden auto;
    pointer-events: none;
    position: absolute;
    transform: scale(95%) translate(-50%, -50%);
    transform-origin: top left;
    transition-duration: 250ms;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    z-index: 9;
}

.modify_page .visible {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
    transform: scale(100%) translate(-50%, -50%);
}

#mainDiv > .profile {
    border: 0.0125rem solid #96f2d7;
    margin-bottom: 1.875rem;
}

#mainDiv > .profile > .profileAndInformation {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#mainDiv > .profile > .profileAndInformation > .profile {
    width: 15rem;
    height: 15rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../images/home/basics.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#mainDiv > .profile > .profileAndInformation > .profile > label > input {
    display: none;
}

#mainDiv > .profile > .profileAndInformation > .profile > div {
    margin-top: 1rem;
}


#mainDiv > .profile > .profileAndInformation > .profile > label > img {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .profile > .modify_Btn > label {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .info_div {
    width: 40rem;
    padding: 0 1.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainDiv > .profile > .profileAndInformation > .info_div > div{
    margin-top: 1rem;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .nickname_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn {
    display: flex;
    justify-content: flex-end;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn > label {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn > label > input {
    display: none;
}

#mainDiv > .mypage_menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#mainDiv > .mypage_menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mainDiv > .mypage_menu > ul > li {
    width: 100%;
    height: 2.5rem;

    border: 0.125rem solid;
    cursor: pointer;

    align-items: center;
    display: flex;
    justify-content: center;
}

#mainDiv > .mypage_menu > ul > li:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

#mainDiv > .mypage_menu > ul > li:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

#mainDiv > .mypage_menu > ul > li > a {
    font-size: 1.25rem;
}

#mainDiv > .mypage_menu > ul > li > a > span {
    margin-left: 0.5rem;
    font-size: 0.825rem;
}

#mainDiv > .board {
    width: 100%;
    height: 100%;

    margin-top: 3.125rem;
}

#mainDiv > .board > h2 {
    margin-left: 2rem;
}

