#mainDiv > .board > .post_div > .post {
    align-items: center;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
#mainDiv > .board > .post_div > .post > .img_box {
    border: 0.0125rem solid;
}

#mainDiv > .board > .post_div > .post > .img_box > img {
    width: 7.5rem;
    height: 7.5rem;
}

#mainDiv > .board > .post_div > .post > .post_content {
    width: 100%;
}

#mainDiv > .board > .post_div > .post > .post_modify {
    width: 100%;

    align-items: flex-end;
    display: flex;
    flex-direction: column;
}