@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F6F1F1;
    box-sizing: border-box;
    color: #000000;
    padding: 0 13rem;
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}