#bannerContainer {
    width: 100%;
    height: 30rem;
    box-sizing: border-box;

    background-image: url("../images/home/banner01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: min-height 0.5s ease-in-out;
}

#bannerContainer.visible {
    min-height: 0;
    opacity: 0;
    display: none;
    border: none;
}


#mainDiv > .productList {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainDiv > .productList > .product {
    width: 12.25rem;
    height: 17.25rem;
    margin-right: 2rem;
    padding: 0.5rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainDiv > .productList > .product > div {
    border: 0.0125rem solid #e6e6fa;
}

#mainDiv > .productList > .product > div > img {
    width: 12.125rem;
    height: 15.125rem;
}

#mainDiv > .productList > .product > .productNamePrice {
    width: 100%;
    height: 100%;
    border: 0.0125rem solid #e6e6fa;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mainDiv > .productList > .product > .productNamePrice > div:first-child {
    text-align: center;
}

#mainDiv > .productList > .product > .productNamePrice > .price  {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainDiv > .productList > .product > .productNamePrice > .price > span:first-child {
    font-size: 1.125rem;
}

#mainDiv > .productList > .product > .productNamePrice > .price > span + span {
    font-size: 0.9rem;
}