body{
    padding: 0;
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 100vw;
    height: 100vh;
    color: #212121;
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color: #888;
    text-decoration: none;
}

#loginForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    height: auto;
}

#loginForm > .logo{
    width: 100%;
    height: 3.5rem;
    margin-bottom: 2rem;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginForm > .logo > a > img {
    width: 100%;
    height: 100%;
    background-color: white;
}

#loginForm >.login_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginForm >.login_container > .registerEndRecover{
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
}

#loginForm >.login_container > .registerEndRecover > li{
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-decoration: none;

}