#mainDiv > .profile {
    border: 0.0125rem solid #96f2d7;
    margin-bottom: 1.875rem;
}

#mainDiv > .profile > .profileAndInformation {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#mainDiv > .profile > .profileAndInformation > .profile {
    width: 15rem;
    height: 15rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../images/home/basics.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#mainDiv > .profile > .profileAndInformation > .profile > div {
    margin-top: 1rem;
}

#mainDiv > .profile > .profileAndInformation > .profile > label > input {
    display: none;
}

#mainDiv > .profile > .profileAndInformation > .profile > label > img {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .profile > .modify_Btn > label {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .info_div {
    width: 40rem;
    padding: 0 1.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainDiv > .profile > .profileAndInformation > .info_div > div{
    margin-top: 1rem;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .nickname_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn {
    display: flex;
    justify-content: flex-end;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn > label {
    cursor: pointer;
}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn > label > span {
    background-color: rgba(0, 0, 0, 0);
    border: 0.125rem solid #96f2d7;
    border-radius: 0.25rem;
    padding: 0.6rem 1.5rem;
    text-decoration-color: #96f2d7;

}

#mainDiv > .profile > .profileAndInformation > .info_div > .modify_btn > label > input {
    display: none;
}