<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UFO - 간편한 중고 경매를 찾다</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/base.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/home.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
</head>
<body>
<header id="headLine">
    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="">
        </a>
    </div>
</header>
<div>
    내용내용
</div>
<footer>
    푸터푸터
</footer>
</body>
</html>